/* font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif; */

p, ul, li, *, h1, h2, h3, h4, h5, h6{
  padding: 0px;
  margin: 0px;
}
body{
  background: #eaf0f2;
  overflow-x: hidden; 
}
a{
  outline: none;
}
a:hover, a:focus, a:active{
  text-decoration: none;3
  outline:none;
}

body{
  background: #000d1c;
}
h1{
  font-family: 'Playfair Display', serif;
  font-size: 54px;
  line-height: 64px;
  color: white;
  text-align: center;
  font-weight: 400;
  width: 860px;
  margin: 0 auto;
  margin-top: 430px;
  margin-bottom: 284px;
}
.sub-title{
  color: white;
  line-height: 13px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 10px;
}
.section-title{
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  font-weight: 400;
  position: relative;
  margin-bottom: 50px;
}
.section-title:after{
  content: "";
  display: block;
  background: url(../img/after.png);
  width: 73px;
  height: 8px;
  margin: 0 auto;
  margin-top: 50px
}
/* HEADER */
.header-page{
  position: absolute;
  width: 100%;
  top: 0px;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 700;
}
.header-page__logo, .header-page__menu, .header-page__contact, .contacts, .btn_light{
  display: inline-block;
}
.header-page__menu{
  margin-right: 138px;
}
.main-nav{
    transition: all .2s ease-out .5s;
}
.main-nav__list{
  list-style: none;
  
}
.main-nav ul{
  transition: all 0.2s ease;
}
.main-nav__item{
  display: inline-block;
}
.main-nav__item a{
  color: #8aabb6;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}
.mobile-menu__btn{
  display: none;
} 
.contacts{
  position: relative;
  top:10px;
  margin-right: 20px;
}
.contacts p{
  color: #8aabb6;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
}
.contacts a{
  color: white;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
}
.contacts a:hover, .contacts a:focus{
  text-decoration: none;
  color: white;
} 
.btn_light{
  color: white;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #2d434b;
  border-radius: 4px;
  line-height: 42px;
  padding-left: 15px;
  padding-right: 15px;
   transition: all .2s ease;
}
.btn_light:hover, .btn_light:focus, .btn_light:active{
  color: white;
  outline:none;
  background: #1a6399;
}
h1 span{
  color: #fff500;
  font-weight: 700;
}
.header-page__logo{
  margin-right: 55px;
}
.main-nav__item{
  margin-left: 15px;
  margin-right: 15px;
}
.header-page__contact{
  text-align: right;
}
/* HEADER END*/


/* PRESENT */
.present{
  background: url(../img/first-block-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.present-container{
  position: relative;
}
.btn-button{
  background: url(../img/bottom.png);
  display: block;
  position: absolute;
  width: 23px;
  height: 41px;
  margin: 0 auto;
  top: 693px;
  left: 580px;
}
/* PRESENT END*/


/* VIDEO */
.video{
  background: url(../img/second-block-bg.png);
  position: relative;
  background-position: center center;
}
.btn-play{
  background: url(../img/play.png);
  width: 229px;
  height: 229px;
  display: block;
  margin: 0 auto;
  margin-top: 245px;
  cursor: pointer;
}
.video-content{
  position: relative;
}
.video-content p{
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  text-align: center;
  margin-bottom: 184px;
  
}
.video-player{
  display: none;
  position: absolute;
  top: -87px;
  left: 103px;
}
.video-player.show{
  display: block;
}
/* VIDEO END*/


/* advantages */
.advantages{
  margin-bottom: 215px;
}
.advantages-item{
  font-family: "Open Sans";
  text-align: center;
}
.advantages-item p{
  color: #2e4556;
  font-size: 22px;
  font-weight: 400;
  line-height: 0px;
  margin-bottom: 30px;
}
.advantages-item h3{
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  margin-bottom: 20px;
}
.advantages-item h4{
  color: #8aabb6;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.advantages-item__img{
  display: block;
  
  margin: 0 auto;
  width: 141px;
  height: 141px;
  margin-bottom: 30px;
}
.advantages-item--garant .advantages-item__img{
  background: url(../img/icon-1.png);
}
.advantages-item--quality .advantages-item__img{
  background: url(../img/icon-2.png);
}
.advantages-item--off .advantages-item__img{
  background: url(../img/icon-3.png);
}
.advantages-item--kval .advantages-item__img{
  background: url(../img/icon-4.png);
}
/* advantages END*/


/* services */
.services{
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}
.services:after{
  content: "";
  display: block;
  position: absolute;
  background: url(../img/bg_big.png);
  width: 716px;
  height: 3079px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  top: -525px;
}
.services-text{
  color: #a7cedb;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  text-align: center;
  margin-bottom: 170px;
}
.services-item__number {
  color: #1d82bd;
  font-family: "Open Sans";
  font-size: 108px;
  font-weight: 800;
  line-height: 38px;
  position: relative;
  z-index: 1;
}
.services-item__number:after{
  content: "";
  display: block;
  position: absolute;
  background: url(../img/2.png);
  width: 146px;
  height: 146px;
  top: 9px;
  left: 52px;
  z-index: -1;
}
.services-item__number span{
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
  position: relative;
  top: -25px;
  left: -10px;
  text-transform: uppercase;
}
.services-text:after{
  content: "";
  display: block;
  background: url(../img/after.png);
  width: 73px;
  height: 8px;
  margin: 0 auto;
  margin-top: 50px
}
.services-item{
  position: relative;
  margin-bottom: 190px;
}
.services-item__text{
  position: relative;
  width: 600px;
  z-index: 10;
}
.services-item__text h3{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
  line-height: 38px;
  margin-bottom: 30px;
}
.services-item__text p{
  color: #8aabb6;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.services-repairs .services-item__text{
  left: 176px;
  top: -11px;
}
.services-repairs .services-item__img{
  position: absolute;
  right: 0px;
  top: -70px;
}

.services-spares .services-item__text{
  position: relative;
  left: 545px;
}
.services-spares .services-item__img{
      top: -70px;
  left: 15px;
  position: absolute;
}

.services-spares .services-item__number{
  position: relative;
  left: 372px;
}
.services-tradein .services-item__text{
  left: 176px;
  top: -11px;
}
.services-tradein .services-item__img{
  position: absolute;
  right: 0px;
  top: -70px;
}

.services-change .services-item__number{
  position: relative;
  left: 372px;
}
.services-change .services-item__text{
  position: relative;
  left: 545px;
}
.services-change .services-item__img{
  top: -70px;
  left: 15px;
  position: absolute;
}
.services-change .small-text{
  color: #545f6d;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.services-recovery .services-item__text{
  left: 176px;
  top: -11px;
}
.services-recovery .services-item__img{
  position: absolute;
  right: 0px;
  top: -70px;
}
/* services END*/


/* about */
.about{
  padding-bottom: 530px;
    position: relative;
}
.about-container{
  position: relative;
}
.about p{
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #8aabb6;
  text-align: justify;
  margin-bottom: 30px;
}
.about-text{
  position: relative;
}
.about-text .first-p, .about-text .secont-p{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
}
.about-text .first-p{
  color: white;
  font-family: "Playfair Display";
  font-size: 94px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
  top: 5px;
  margin-right: 15px;
}

.about-text .secont-p{
  width: 476px !important;
  text-align: justify;
}
.about-bg{
  position: absolute;
  margin: 0 auto;
  left: -133px;
  top: -180px;
}
/* about END*/


/* feedback */
form{
  text-align: center;
  display: block;
}
.form-title{
  color: #8aabb6;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  margin-bottom: 35px;
  text-align: center;
}
.input-container{
  display: inline-block;
  text-align: left;
  margin-right: 45px;
}
.input-container__last{
  margin-right: 0px;
}
label{
  display: block;
  color: #353f48;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 8px;
}
input{
  display: inline-block;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  border: none;
  color: black;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 40px;
}
.input-small{
  width: 80px;
}
.input-medium{
  width: 125px;
}
.btn-blue{
  display: block;
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 62px;
  text-transform: uppercase;
  width: 290px;
  background-color: #1a6399;
  border-radius: 4px;
  margin: 0 auto;
      cursor: pointer;
}
.btn-blue:hover{
  color: white;}
.btn-blue__after{
  content: "";
  display: block;
  background: url(../img/after.png);
  width: 73px;
  height: 8px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}  
.contact-tel{
  display: block;
  color: white;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}
.contact-tel:hover{
  color: white;
}
.form-email{
  color: #3bb2f0;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 126px;
}
.form-email:hover{
  text-decoration: none;
    color: #3bb2f0;
}
.strip{
  height: 1px;
  background-color: #162833;
  width: 100%;
  margin-bottom: 35px;
}
.copyright{
  display: block;
  margin: 0 auto;
  color: #222b30;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 100px;
      text-align: center;
}
/* feedback END*/

/* MODAL */
.modal-content{
  background: #000d1c;
  padding-top: 50px;
}
.modal-content form, .modal-content form label{
  text-align: center;
}
.modal-content .input-container{
  margin-right: 0;
}
/* MODAL END*/
.mobile-menu__btn{
  display: none;
}

@media screen and (max-width: 1200px){
  .header-page .header-page__logo{
    display: block;
    margin: 0 auto;
    width: 192px;
  }
  .header-page{
    margin-top: 20px;
  }
  .header-page__menu{
    display: block;
    margin-right: 0px;
    text-align: center;
  }
  .header-page__contact{
    display: block;
    text-align: center;
    width: 356px;
    margin: 0 auto;
  }
  h1{
    width: auto;
  }
  .btn-button{
    display: none;
  }
  .video-player{
    left: 0px;
    width: 100%;
  }
  .video-player iframe{
    width: 100%;
  }
  .advantages-item__img{
    margin-bottom: 8px;
  }
  .advantages-item h4{
    margin-bottom: 45px;
  }
  .advantages-item p {
    margin-bottom: 13px;
  }
  .advantages-item h3 {
    margin-bottom: 13px;
  }
  .services-item__number{
    text-align: center;
    margin-bottom: 20px;
  }
  .services-repairs .services-item__text{
    position: inherit;
    text-align: center;
  }
  .services-spares .services-item__number{
    position: inherit;
    text-align: center;
    left: 0;
  }
  .services-spares .services-item__text{
    left: 0;
    text-align: center;
    margin: 0 auto;
  }
  .services-item__number{
    left: 0px !important;
    text-align: center;
  }
  .services-item__text{
    left: 0px !important;
    margin: 0 auto;
    text-align: center;
  }
  .about-bg {
    left: 0px;
    top: -180px;
    width: 100%;
    z-index: -1;
  }
  .about-text .secont-p{
    width: auto !important;
  }
  .contacts{
    text-align: right;
  }
  .first-p{
    display: none !important;
  }
  .about-text{
    display: none;
  }
  .about-text__mobile{
    display: block !important;
  }
  .about {
    padding-bottom: 130px;
    position: relative;
  }
}
@media screen and (max-width: 991px){
  .input-container__mobile-last{
    margin-right: 0px;
  }
}


@media screen and (max-width: 720px){
  .present-container, .services-container{
    margin-left: 15px;
    margin-right: 15px;
  }
  .present {
    background-position: center -1%;
  }
  .services:after{
    display: none;
  }
  .services-repairs .services-item__text, .services-repairs .services-item__text h3, .services-item__text{
    width: 100%;
  }
  .advantages{
    margin-bottom: 115px;
  }
  .services-recovery{
    margin-bottom: 90px;
    margin: 0 auto;
    text-align: center;
  }
  form{
    text-align: center;
  }
  .services{
    margin-bottom: 230px;
  }
}

@media screen and (max-width: 600px){
  .input-container__mobile{
    margin-right: 0px;
  }
  .input-container{
    display: block;
    text-align: center;
  }
  section{
    box-sizing: border-box;
  }
  .contact-tel{
    font-size: 40px !important;
  }
}

@media screen and (max-width: 500px){
  h1 {
    font-size: 44px;
  }
  .contacts {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .services-item img{
    width: 100%;
  }
}
@media screen and (max-width: 425px){
  .main-nav__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  h1 {
    margin-top: 430px;
    margin-bottom: 124px;
  }
  
  .advantages {
    margin-bottom: 115px;
}
}
@media screen and (max-width: 400px){
  .main-nav ul{
    opacity: 0;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 1000;
    top: 10px;
  }
  .main-nav{
    position: relative;
  }
  .main-nav.show ul{

    opacity: 1;
  }
  .main-nav__item{
    display: block;
    text-align: center;
    background: rgba(26,99,153,1);
    margin-bottom: 5px;
  }
  .main-nav__item a{
    text-transform: uppercase;
  }
  .header-page .header-page__logo{
    margin-bottom: 10px;
  }
  .mobile-menu__btn{
    display: block;
    margin: 0 auto;
    width: 42px;
  }
  .hamburger-item{
    width: 42px;
    height: 6px;
    background: #1a6399;
    color: white;
    margin-bottom: 5px;
    cursor:pointer;
  }
  .section-title {
    font-size: 43px;
  }
  .services-item__number{
    font-size: 98px;
  }
  .services-item__number span {
    font-size: 17px;
  }
}


@media screen and (max-width: 360px){
  h1 {
      font-size: 40px;
  }
  .header-page__contact{
    width: auto;
  }
}
